{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current",
                    "browsers": "> 1%"
                }
            }
        ],
        "react"
    ],
    "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
    ]
}
